.o-dress {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 320fr 181fr;
    gap: 114px;
    
    @media(max-width: 1023px) {
        grid-template-columns: minmax(0, 1fr);
        gap: 44px;
        grid-column: 1/6;
    }
    
    &__picture {
        width: 100%;
        height: 100%;
        
        @media(max-width: 1023px) {
            aspect-ratio: 75/86;
            width: calc(100% + 10px);
            height: auto;
            margin: 0 -5px;
        }
        
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }
    }
    
    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
        
        @media(max-width: 1023px) {
            align-items: flex-start;
            padding-left: 50px;
            gap: 20px;
            order: -1;
        }
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-align: right;
        color: var(--black-color);
        
        @media(max-width: 1710px) {
            gap: 25px;
        }
        @media(max-width: 1023px) {
            gap: 20px;
            text-align: left;
        }
    }
    
    &__text {
        font-size: 30px;
        
        @media(max-width: 1710px) {
            font-size: 22px;
        }
        @media(max-width: 1023px) {
            font-size: 18px;
        }
    }
    
    &__info {
        font-size: 27px;
        font-weight: 300;
        
        @media(max-width: 1710px) {
            font-size: 18px;
        }
        @media(max-width: 1023px) {
            font-size: 14px;
            padding-left: 50px;
        }
    }
}
