.a-title {
    font-weight: 400;

    & span {
        color: var(--primary-color);
    }

    &--1 {
        font-size: 48px;
        line-height: normal;

        @media (max-width: 1023px) {
        }
        @media (max-width: 767px) {
        }
    }
    &--2 {
        font-family: var(--additionalFont), sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        @media (max-width: 1023px) {
            font-size: 20px;
        }
        @media (max-width: 767px) {
        }
    }
    &--3 {
        font-size: 20px;
        line-height: normal;

        @media (max-width: 1023px) {
        }
        @media (max-width: 767px) {
        }
    }
    &--4 {
        font-size: 18px;
        line-height: normal;
        font-weight: 600;

        @media (max-width: 1023px) {
        }
        @media (max-width: 767px) {

        }
    }
    &--5 {

        @media (max-width: 1023px) {

        }
        @media (max-width: 767px) {

        }
    }
}
