mixin Label()
    .o-label
        +Link('white')(href='https://t.me/alinchk?text=Здравствуйте, интересует дизайн для сайта' target='_blank').o-label__link Связаться с дизайнером
        +Link('white')(href='https://t.me/spainvenk?text=Здравствуйте, интересует разработка сайта' target='_blank').o-label__link Связаться с разработчиком