mixin Registration()
    .o-registration
        +Title('2').o-registration__title Анкета гостя
        .o-registration__content
            .o-registration__text Пожалуйста, дайте нам знать, если вы будете присутствовать на мероприятии. До 30 января заполните анкету гостя
            +Btn('grey', 'big').o-registration__btn.js-form-btn(onclick="umGlobal.togglePopup('registration', true);") Заполнить
        //(onclick="umGlobal.togglePopup('callback', false, false);umGlobal.togglePopup('thanks', true);")
