.o-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
    @media (max-width: 1023px) {
        gap: 17px;
    }
    
    &__title {
        color: var(--black-color);
    }
    
    &__content {
        max-width: 780px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        
        @media (max-width: 1023px) {
            max-width: 260px;
            gap: 14px;
        }
    }
    
    &__text {
        font-size: 27px;
        font-weight: 400;
        color: var(--black-color);
        text-align: center;
        
        @media (max-width: 1023px) {
            font-size: 16px;
        }
    }
    
    &__btn {
        width: 100%;
        max-width: 500px;
        
        @media (max-width: 1023px) {
            max-width: 100%;
        }
    }
}
