//======== Main colors =========//
:root {
    --basic-color: #28251E;
    --black-color: #000000;
    --white-color: #FFF;
    --white-bg-color: #ffffff;
    --grey-color: #9E9B98;
    --primary-bd-color: #423425;
    --primary-dark-color: #830101;
}
