:root {
    --appHeight: 100vh;
    --containerWidth: 1155px;
    --headerHeight: 100px;
    --footerIndent: 130px;

    --mainFont: 'VeranoSans';
    --additionalFont: 'Prata';

    --basicTextSize: 18px;
    --basicLineHeight: normal;

    --scrollbarBg: #fff;
    --scrollbarThumb: #382E1B;
    --scrollbarWidth: 7px;
    --scrollbarBorder: none;
    --scrollbarBorderRadius: 0;

    --defaultTransition: all 0.3s ease-in-out;

    @media (max-width: 1280px) {
        --headerHeight: 60px;
    }
    @media (max-width: 1023px) {
        --footerIndent: 50px;
    }
    @media (max-width: 767px) {

    }
}
