extends /common/layout

block append head
	link(href="/styles/index.page.min.css" rel="stylesheet")


block content
	main.p-index
		+Blocks
			+Container
				+Fscreen
			+Container
				+About
			+Container
				+Video
			+GridContainer
				+Program
			+Container
				+Registration
			+GridContainer
				+Dress
			+Container
				+Bottom
		//+Locaion
		//+Dress
		//
		//+Label
