.o-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    
    &__top {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        gap: 20px;
        padding: 44px 0 55px;
        border: solid var(--grey-color);
        border-width: 2px 0;
        
        @media(max-width: 1023px){
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 45px 0;
            border-width: 1px 0;
        }
    }
    
    &__poem {
        max-width: 405px;
        display: flex;
        flex-direction: column;
        gap: 1px;
        
        @media(max-width: 1023px) {
            max-width: 280px;
           gap: 9px;
        }
        
        &-title {
            font-size: 27px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            
            @media(max-width: 1023px) {
                font-size: 20px;
            }
        }
        
        &-place {
            font-family: var(--additionalFont), sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            
            @media(max-width: 1023px) {
                font-size: 14px;
            }
        }
    }
    
    &__date {
        font-family: var(--additionalFont), sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        
        @media(max-width: 1023px){
            font-size: 18px;
            text-align: left;
        }
    }
    
    &__address {
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: right;
        
        @media(max-width: 1023px) {
            font-size: 18px;
        }
        
        & span {
            font-family: var(--additionalFont), sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            
            @media(max-width: 1023px) {
                font-size: 14px;
            }
        }
    }
}
