mixin Bottom()
    .o-bottom
        .o-bottom__title Если у вас остались вопросы, <br>обращайтесь к нам
        .o-bottom__contacts
            span Иосиф, <a href="tel:+799379598048">+7 (937) 959-80-48</a>
            span Надежда, <a href="tel:+79992083109">+7 (999) 208-31-09</a>
