mixin Bottom()
    .o-bottom
        .o-bottom__title Если у вас остались вопросы, обращайтесь к организатору мероприятия
        .o-bottom__contacts
            span <a href="tel:+79168777559">+7 (916) 877 75-59</a>, Анастасия
