.a-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__input {
        position: relative;

        & input,
        & textarea {
            width: 100%;
            height: 45px;
            padding: 11px 20px;
            border: 1px solid #AEA89F;
            border-radius: 12px;
            font-size: 20px;
            line-height: normal;
            font-weight: 400;
            color: var(--basic-color);
            background-color: rgba(246, 245, 241, 0.5);
            transition: var(--defaultTransition);
            
            @media (max-width: 1023px) {
                font-size: 14px;
            }
           
            &:focus,
            &:hover {
                //border-color: var(--primary-color);
            }
            &::placeholder {
                color: #AEA89F;
            }
        }
        
        & textarea {
            height: 143px;
            vertical-align: bottom;
        }
    }

    &__error {
        display: none;
        font-size: 14px;
        line-height: 145%;
        color: red;

        @media (max-width: 1023px) {
            font-size: 13px;
            line-height: 150%;
        }
    }

    &.isError &__input input {
        border-color: red;
    }
    &.isError &__error {
        display: block;
    }
}
